<div
  style="
  background: rgb(243, 128, 128);
  height: 300px;
  width: 300px;
  margin: auto;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
"
  class="container"
>

  <br />

  <hr />
  <h1>Update</h1>

  <div class="update2">{{data.name}}</div>
  <div class="update3">{{data.description}}</div>
  <div class="update4">{{data.year}}</div>
  <div class="update5">{{data.category}}</div>
  <div class="update5">{{data.lang}}</div>
  <div class="update6">{{data.image}}</div>
</div>
<div>

  <h3>{{data._id}}</h3></div>